

.background{
    background-image: url("../../data/bannerbackground.png");
    height: 540px;
    /* height: 600px; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-items{
    margin-bottom: 100px;
}
.search-box{
    padding-top: 200px;
    /* background-color: aqua; */
    /* margin-left: 200px; */
  
}

.search-field{
    width: 400px!important;
    border:none;
    padding: 8px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    
   
}


